*{

margin-top: 10px;

}
body {
  

  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  

    box-sizing: border-box;
      background: linear-gradient(-45deg, #b8b6b6, #cacece, #9d9e9e, #909997);
      background-size: 400% 400%;
      animation: gradient 12s ease infinite;

  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
    
.header h1{
text-align: center;
font-family: monospace;
position: relative;
left: 50px;
color: rgb(6, 6, 51);
}  

.navbar {
display: flex;
justify-content: space-between;
background-color: none;

}
.navbar ul li a:hover{
  color: rgb(129, 25, 25);
}

.navbar ul{
  list-style: none;
  background: none;
  padding: 0;
  margin: 0;
  text-align: center;
  position: relative;

}

.navbar li {
display: inline-block;
background-color: rgb(141, 137, 137);
border-radius: 5%;
font-weight: bold;


}


.navbar a{
font-family: monospace;
font-size: 18px;
width: 150px;
display: block;
text-align: center;
color: rgb(8, 33, 54);

}

.hero-banner{
height: 450px;
width: 100%;
background-image: url(../images/Banner.jpeg);
background-size: cover;
background-position: center;

}

h1,
h2,
h3,
h4,
h5
h6 {
  margin: 25px;
}

p {
  margin: 25px;
}

.about-me img {
height:200px;
margin-left: 5px;
border-radius: 25%;


}



.header{
  display: flex;
  justify-content:space-between;
}




.container{
  display: grid;
  grid-template-columns: 25% 75%;
  margin: 10px;

}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;

  
}

#categoryGrid {
  margin: 0px 5%;
  
  display:grid ; 
  grid-template-rows: 300px 100px 100px 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-template-areas: 
  "pr ho lp"
  "pr c p"
  "pr c p"; 
  
}
#horiseon {
    grid-area: ho;
  background-image: url("../images/02-portfolio-1.jpg");
  border-radius: 2%;

}
#landing-page {
   grid-area: lp;
  background-image: url("../images/02-portfolio-2.jpg");
  border-radius: 2%;
}

#prework {
  grid-area: pr;
  background-image: url("../images/02-portfolio-3.jpg");
  border-radius: 2%;
}

#portfolio {
   grid-area: p;
  background-image: url("../images/02-portfolio-4.jpg");
  border-radius: 2%;
}

.portfolio-item{
  width: 100%;
  height: 100%;
}
#challenge {
  grid-area: c;
 background-image: url("../images/02-portfolio-3.jpg");
 border-radius: 2%;
 
}
 .about-me {
  background-color: none;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  border-right: 6px solid black;


 }
 .work {
  background-color: none;
  padding: 10px;
  margin-right: 10px;
  border-right: 6px solid black;
  margin-bottom: 30px;

 }

 .contact {
  background-color: none;
  padding: 10px;
  margin-right: 10px;
  border-right: 6px solid black;
 }

.contlink{
  text-align: center;

}